## .gitignore file

# General
*~
*.bak

# Windows and Linux executables
*.exe
sys/openwrt-mips/bin/*
sys/raspberry-pi/bin/*
!sys/openwrt-mips/bin/*.*
!sys/raspberry-pi/bin/*.*

# Tar balls and zip files
*.tar.gz
*.tar
*.zip

# Folder with non-public site and other data
sites/
varia/

# Python Tools 
__pycache__/
*.pyc

# Windows Installer files from build outputs
*.cab
*.msi
*.msix
*.msm
*.msp

