# ubxlogger configuration
# ----------------------- 
#
# For ubxlogd.sh, ubxpush.sh ubx2hourly.sh and ubx2daily.sh. 
#
# Add the following code to a script to source this configuration file:
#
#    ubxscriptdir=$(dirname "$(readlink -f "$0")")
#    . ${ubxscriptdir}/ubxlogger.config
#
# (c) 2024 Hans van der Marel, TUD.

# ---------------------------------------------------------------------
# USER DEFINED SETTINGS

# USB port number (device path) for each receiver 
#
#   devpath_NAME00CCC=1.#[.#]   Raspberry Pi 3B+ USB ports 
#
#   Raspberry Pi 3B+         
#     .-------. .-----. --.---.  
#     |       | |1.1.2| | 1.3 |    On other models different device
#     |  LAN  | |-----| |-----|    paths are used!
#     |       | |1.1.3| | 1.2 | 
#   --^-------^-^-----^-^-----^--
#
#   devpath_NAME00CCC=1.3     GL-iNet X750 USB port
#   devpath_NAME00CCC=1.3.#   GL-iNet X750, 4-port USB hub, port #=0..3 
#
# use 'lsusb -t' to check.

devpath_TEST00NLD=1.1.2
#devpath_TEST00NLD=1.3
#devpath_NAMExxTS1=1.3.1
#devpath_NAMExxDF1=1.3.2

# remote upload base url and authorization for curl

#remoteubx=ftp://sub.subdomain.domain/ubx/\${year}/\${doy}/
remoteubx=
remoternx=ftp://sub.subdomain.domain/rinex/\${year}/\${doy}/
authubx=""
authrnx="-u username:password"

# --------------------------------------------------------------------- 

# directory paths

ubxdir=${ubxscriptdir%/*}
rundir=${ubxdir}/run
logdir=${ubxdir}/log
spooldir=${ubxdir}/spool
#archivedir=${ubxdir%/*}/data
archivedir=${ubxdir}/data

# programs 

str2str=str2str  
if [ "$SHELL" = "/bin/ash" ]; then
   ps=ps
else
   ps="ps -ax"
fi

# Function to return tty device name (e.g. /dev/ttyACM0) for USB port number

get_dev() {
   # Function returns tty device name in $dev for receiver $identifier

   devpath=$(eval "echo \${devpath_${identifier}}")
   if [ "${devpath}" = "" ]; then
      echo "Undefined receiver ${identifier}"
      return 2
   fi

   dev=$(ls /sys/bus/usb/devices/1-${devpath}:1.0/tty)
   if [ "${dev}" = "" ]; then
      echo "Receiver ${identifier} is not connected to USB port ${devpath}"
      return 1
   #else
   #   echo "Receiver ${identifier} on USB port ${devpath} is assigned to ${dev}" 
   fi

   return 0
}
